body {
  background: #1B2838;
  font-family: Arial, helvetica, sans-serif;
  margin: 0 auto;
  width: 800px;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  margin-top: 100px;
}

.sidebar {
  width: 25%;
}

.block-platform,
.block-genre {
  color: #c6d4df;
}

.platform-title,
.genre-title {
  color: #66c0f4;
  display: block;
}

.genres {
  margin-top: 20px;
}

.items-list {
  width: 75%;
}

.list-item {
  background: #192635;
  display: flex;
  height: 69px;
  margin-bottom: 5px;
  width: 100%;
}

.thumbnail {
  background: green;
  float: left;
  width: 184px;
}

.item-body {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 5px;
}

.item-title {
  color: #c7d5e0;
  font-size: 15px;
}

.item-platform {
  margin: 5px 0;
}

.item-genres {
  color: #384959;
  font-size: 12px;
}
